{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'includes/links.html' %}
  <link rel="stylesheet" href="{% static 'login/login.css' %}">
  <title>Resetar Senha</title>
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary h-100">
  <main class="form-login w-100 m-auto">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <form action="{% url 'retype-password' %}" method="post">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Quase lá!</h1>
      <h1 class="h6 mb-3">Por questões de segurança, <br>escreva uma nova senha que apenas você saiba. </h1>
      <div class="form-floating my-2">
        <input class="form-control" type="password" name="password1" id="inputPasswordUser1" placeholder="Nova Senha">
        <label for="inputPasswordUser1">Nova Senha</label>
      </div>
      <div class="form-floating my-2">
        <input class="form-control" type="password" name="password2" id="inputPasswordUser2" placeholder="Confirmar Senha">
        <label for="inputPasswordUser2">Confirmar Senha:</label>
      </div>
      <button class="btn btn-primary w-100 py-2" type="submit">Vamos lá</button>
    </form>
  </main>
</body>

</html>