{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'includes/links.html' %}
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">
    <title>Empréstimos</title>
</head>
<body>
    {% include 'includes/navbar.html' %}
    <main class="d-flex flex-nowrap">
        {% with tela="emprestimos" %}
            {% include 'includes/sidebar.html' %}
        {% endwith %}
    </main>
</body>
</html>