{% load static %}
{% load filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'includes/links.html' %}
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">
    <script defer src="{% static 'livros/pagina_inicial.js' %}"></script>
    <title>Página Inicial</title>
</head>
<body>
  {% include 'includes/navbar.html' %}
  <main class="d-flex flex-nowrap">
    {% with tela="livros" %}
      {% include 'includes/sidebar.html' %}
    {% endwith %}
    <div class="section-content w-100">
      <div class="section-content-header py-1 px-3 d-flex justify-content-between align-items-center border-bottom">
        <h1>Livros:</h1>
        <div class="btn-group p-4">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Ações</button>
          <ul class="dropdown-menu">
            <li><button id="buttonAdicionarLivro" type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalAdicionarLivro">Adicionar Livro</button></li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  <div class="modal fade" id="modalAdicionarLivro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Livro</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post">
            <div class="mb-3">
              <label for="formControlNomeLivro" class="form-label">Nome do Livro:</label>
              <input type="text" class="form-control" name="nome" id="formControlNomeLivro" placeholder="A volta dos que não foram...">
            </div>
            <div class="mb-3">
              <div class="input-group">
                <input type="text" class="form-control" id="formControlAutorLivro" placeholder="Roberto Carlos" readonly disabled aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="btnPesquisarAutor" data-bs-target="#modalPesquisarAutor" data-bs-toggle="modal">Pesquisar Autor</button>
              </div>
            </div>
            <div class="mb-3">
              <label for="formControlQuantidadeEmEstoqueLivro" class="form-label">Quantidade em Estoque:</label>
              <input type="number" class="form-control" name="quantidade_estoque" id="formControlQuantidadeEmEstoqueLivro" placeholder="10...">
            </div>
            <div class="mb-3">
              <label for="formControlPaginasLivro" class="form-label">Páginas:</label>
              <input type="number" class="form-control" name="paginas" id="formControlPaginasLivro" placeholder="500...">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalPesquisarAutor" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Pesquisar Autor</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hide this modal and show the first with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#modalAdicionarLivro" data-bs-toggle="modal">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>