{% load filter %}
<!DOCTYPE html>
<html lang="pt-br">

{% with head_title='Página Inicial' %}
  {% include 'includes/livros/head.html' %}
{% endwith %}

<body>
  {% include 'includes/navbar.html' %}
  <main class="d-flex flex-nowrap">
    {% with tela="livros" %}
      {% include 'includes/sidebar.html' %}
    {% endwith %}
    <div class="section-content w-100">
      <div class="section-content-header py-1 px-3 d-flex justify-content-between align-items-center border-bottom">
        <h1 class="p-3">Livros:</h1>
        {% if user.role == 2 %}
          <div class="btn-group p-4">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">Ações</button>
            <ul class="dropdown-menu">
              <input type="hidden" name="quantidadeAutores" value="{{autores|length}}">
              <input type="hidden" name="quantidadeGeneros" value="{{generos|length}}">
              {% if autores|length == 0 or generos|length == 0 %}
                <li><button id="buttonAdicionarLivro" type="button" class="dropdown-item disabled" data-bs-toggle="modal"
                    data-bs-target="#modalAdicionarLivro">Adicionar Livro</button></li>
              {% else %}
                <li><button id="buttonAdicionarLivro" type="button" class="dropdown-item" data-bs-toggle="modal"
                    data-bs-target="#modalAdicionarLivro">Adicionar Livro</button></li>
              {% endif %}
              <li><button id="buttonAdicionarAutor" type="button" class="dropdown-item" data-bs-toggle="modal"
                  data-bs-target="#modalAdicionarAutor">Adicionar Autor</button></li>
              <li><button id="buttonAdicionarGenero" type="button" class="dropdown-item" data-bs-toggle="modal"
                  data-bs-target="#modalAdicionarGenero">Adicionar Gênero</button></li>
            </ul>
          </div>
        {% endif %}
      </div>
      <div class="livros-container d-flex justify-content-around align-items-center flex-wrap gap-4 p-5">
        {% for livro in dados_pagina %}
          <div class="card" style="width: 18rem;">
            <img src="{{ livro.imagem.url }}" class="card-img-top img-fluid" alt="image">
            <div class="card-body">
              <h5 class="card-title">{{ livro.nome }}</h5>
              <span class="badge text-bg-info mb-2">{{ livro.genero.nome }}</span>
              <p class="card-text">{{ livro.autor.nome }}</p>
              <a href="{% url 'detalhes-livro' livro.id %}" class="btn btn-primary">Mais detalhes</a>
              {% if user.role == 1 %}
                <a href="#" class="btn btn-secondary">Solicitar Empréstimo</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="livros-pagination-container pt-3 border-top">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if pagina_atual == 1 %}
              <li class="page-item disabled"><span class="page-link">Anterior</span></li>
            {% else %}
              {% with pagina_anterior=pagina_atual|add:'-1' %}
                <li class="page-item"><a class="page-link" href="{% url 'pagina-inicial' %}?page={{ pagina_anterior }}">Anterior</a></li>
              {% endwith %}
            {% endif %}
            {% for pagina_item in pagina_array %}
              {% if pagina_item == pagina_atual %}
                <li class="page-item active"><span class="page-link">{{ pagina_item }}</span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'pagina-inicial' %}?page={{ pagina_item }}">{{ pagina_item }}</a></li>
              {% endif %}
            {% endfor %}
            {% if pagina_atual == total_paginas %}
              <li class="page-item disabled"><span class="page-link">Próximo</span></li>
            {% else %}
              {% with pagina_posterior=pagina_atual|add:'1' %}
                <li class="page-item"><a class="page-link" href="{% url 'pagina-inicial' %}?page={{ pagina_posterior }}">Próximo</a></li>
              {% endwith %}
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </main>
  {% if user.role == 2 %}
    <div class="modal fade" id="modalAdicionarLivro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <span id="criarLivroStatus" hidden>{{criar_livro_status}}</span>
        <form action="{% url 'criar-livro' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Livro</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                  <label for="formControlNomeLivro" class="form-label">Nome do Livro:</label>
                  <input type="text" class="form-control" name="nome" id="formControlNomeLivro"
                    placeholder="A volta dos que não foram...">
                </div>
                <div class="mb-3">
                  <label for="formControlAutorLivro">Autor do Livro:</label>
                  <select name="autor_id" id="formControlAutorLivro">
                    <option value="">Selecione um autor</option>
                    {% for autor in autores %}
                      <option value="{{ autor.id }}">{{ autor.nome }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3">
                  <label for="formControlGeneroLivro">Gênero do Livro:</label>
                  <select name="genero_id" id="formControlGeneroLivro">
                    <option value="">Selecione um gênero</option>
                    {% for genero in generos %}
                      <option value="{{ genero.id }}">{{ genero.nome }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="mb-3">
                  <label for="formControlQuantidadeEmEstoqueLivro" class="form-label">Quantidade em Estoque:</label>
                  <input type="number" class="form-control" name="quantidade_estoque"
                    id="formControlQuantidadeEmEstoqueLivro" placeholder="10...">
                </div>
                <div class="mb-3">
                  <label for="formControlPaginasLivro" class="form-label">Páginas:</label>
                  <input type="number" class="form-control" name="paginas" id="formControlPaginasLivro"
                    placeholder="500...">
                </div>
                <div class="mb-3">
                  <label for="formControlImagemLivro" class="form-label">Imagem do Livro:</label>
                  <input class="form-control" name="imagem" type="file" accept="image/png, image/jpeg" id="formControlImagemLivro">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal fade" id="modalAdicionarAutor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <span id="criarAutorStatus" hidden>{{criar_autor_status}}</span>
        <form action="{% url 'criar-autor' %}" method="post"> {% csrf_token %}
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Autor</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="formControlNomeAutor">Nome do autor:</label>
                <input class="form-control" type="text" name="nome" id="formControlNomeAutor" placeholder="Tim Maia">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal fade" id="modalAdicionarGenero" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <span id="criarGeneroStatus" hidden>{{criar_genero_status}}</span>
        <form action="{% url 'criar-genero' %}" method="post"> {% csrf_token %}
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Gênero</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="formControlNomeGenero">Nome do Gênero:</label>
                <input class="form-control" type="text" name="nome" id="formControlNomeGenero"
                  placeholder="Mistérios....">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  {% endif %}
  <div id="myToastContainer" class="toast-container position-fixed bottom-0 end-0 p-3"></div>
</body>

</html>